@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Black&family=Bebas+Neue&family=Kanit:ital@1&family=Oswald&family=Rubik&family=Teko:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background: #D72323;
    color: #02010E;
}

/* ----------------------------------------------HEADER MOBILE--------------------------------------------- */
.navbar {
    background-image: url("../img/webimg/tlt5k87p8uw51.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.navbar-brand img {
    width: 90px;
}

.navbar-brand {
    margin-right: 0;
    padding: 0 1em;
}

.navbar-nav {
    align-items: center;
}

.navbar .navbar-nav .nav-link {
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    color: #EEEEEE;
    padding: .5em 1em;
}

.navbar-toggler {
    border-color: #EEEEEE;
    background-image: url("../img/webimg/structure-378782_1280.jpg");
    background-position: top;
    background-size: cover;
}
/* ----------------------------------------------INDEX MAIN MOBILE---------------------------------------------- */
body {
    padding-top: 95px;
}

.sobrenosotros {
    background-image: url("../img/webimg/simple-subtle-abstract-dark-minimalism-4k-u9-1920x1080.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-inline: 40px;
}

.titulo-index {
    color: #EEEEEE;
    padding-top: 20px;
    font-family: 'Archivo Black', sans-serif;
    text-shadow: 4px 4px 4px #303841
}

.texto-index {
    color: #EEEEEE;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    text-align: justify;
}

.subtitulo-index {
    color: #D72323;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 1px;
    text-shadow: 4px 4px 4px #02010E;
    padding: 5px;
}

.imagen-index {
    padding-bottom: 20px;
}
/* ----------------------------------------------NOTICIAS MAIN MOBILE---------------------------------------------- */
.noticias {
    background-image: url("../img/webimg/simple-subtle-abstract-dark-minimalism-4k-u9-1920x1080.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-inline: 40px;
}

.titulo-noticias {
    color: #EEEEEE;
    padding-top: 20px;
    font-family: 'Alfa Slab One', cursive;
    text-shadow: 5px 5px 5px #303841;
}

.subtitulo-noticias {
    color: #EAEAEA;
    font-family: 'Kanit', sans-serif;
    letter-spacing: .5px;
    padding: 5px;
}

#titulo-articulo {
    color: #D72323;
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    padding-top: 20px;
}

#subtitulo-articulo {
    color: #EEEEEE;
    font-family: 'Rubik', sans-serif;
    font-size: 1.6em;
    padding-top: 5px;
}

#texto-articulo {
    color: #EAEAEA;
    font-family: 'Oswald', sans-serif;
    font-size: 1.1em;
    padding-top: 3px;
}

.noticias-lol {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 450px;
    grid-row-gap: 20px;
    grid-template-areas:
        "titulonotlol" 
        "riot"
        "lmf";
}

.noticias-lol-titulo {
    grid-area: titulonotlol;
}

.noticias-lol-riot {
    grid-area: riot;
    border-bottom: 1px solid #EEEEEE;
}

.noticias-lol-lmf {
    grid-area: lmf;
    padding-bottom: 15px;
    border-bottom: 10px double #EAEAEA;
}

.noticias-teams {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 480px;
    grid-row-gap: 20px;
    grid-template-areas: 
        "titulonotteams"
        "primate"
        "undead";
}

.noticias-teams-titulo {
    grid-area: titulonotteams;
}

.noticias-teams-primate {
    grid-area: primate;
    border-bottom: 1px solid #EEEEEE;
}

.noticias-teams-undead {
    grid-area: undead;
    padding-bottom: 15px;
    border-bottom: 10px double #EAEAEA;
}

.noticias-parches {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 480px;
    grid-row-gap: 20px;
    grid-template-areas: 
        "titulonotparc"
        "parc131"
        "parc133";
}

.noticias-parches-titulo {
    grid-area: titulonotparc;
}

.noticias-parches-131 {
    grid-area: parc131;
    border-bottom: 1px solid #EEEEEE;
}

.noticias-parches-133 {
    grid-area: parc133;
    padding-bottom: 15px;
    border-bottom: 10px double #EAEAEA;
}

.noticias-esports {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 480px;
    grid-row-gap: 20px;
    grid-template-areas: 
        "titulonotesp"
        "valo"
        "csgo";
}

.noticias-esports-titulo {
    grid-area: titulonotesp;
}

.noticias-esports-valo {
    grid-area: valo;
    border-bottom: 1px solid #EEEEEE;
}

.noticias-esports-csgo {
    grid-area: csgo;
    padding-bottom: 15px;
}

/* ----------------------------------------------EQUIPOS MAIN MOBILE---------------------------------------------- */



/* ----------------------------------------------PARTIDOS MAIN MOBILE---------------------------------------------- */



/* ----------------------------------------------TIENDA MAIN MOBILE---------------------------------------------- */



/* ----------------------------------------------FOOTER MOBILE---------------------------------------------- */
.footer {
    background-color: #02010E;
}

.inner-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    grid-gap: 20px;
}

.footer-form {
    color: #EEEEEE;
    font-family: 'Rubik', sans-serif;
    padding: 10px;
}

#email {
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    letter-spacing: .5px;
    text-indent: 4%;
}

#submit {
    font-family: 'Archivo Black', sans-serif;
    letter-spacing: .5px;
}

.patrocinadores {
    width: 95vw;
    padding: 10px;
    font-family: 'Teko', sans-serif;
    color: #EEEEEE;
}

.patros-logos {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 0;
}

.patrocinadores img {
    width: 65px;
}

.redes-sociales {
    font-family: 'Rubik', sans-serif;
    color: #EEEEEE;
    font-size: 14px;
}

.redes-logos {
    display: block;
    letter-spacing: 15px;
}

.redes-logos img {
    width: 40px;
}

.redes-logos a {
    text-decoration: none;
}

/* ----------------------------------------------HEADER DESKTOP---------------------------------------------- */
@media screen and (min-width: 768px) {
    .navbar-brand img {
        width: 150px;
    }

    .navbar .navbar-nav .nav-link {
        font-size: 3em;
    }

    .navbar .navbar-nav .nav-link.active,
    .navbar .navbar-nav .nav-link:hover {
    color: #ffd700;
    text-shadow: 0 0 10px #ffd700,
                 0 0 20px #ffd700,
                 0 0 40px #ffd700,
                 0 0 80px #ffd700,
                 0 0 120px #ffd700,
                 0 0 160px #ffd700,;
    }
}
/* ----------------------------------------------INDEX MAIN DESKTOP---------------------------------------------- */
@media screen and (min-width: 768px) {
    body {
        padding-top: 165px;
    }

    .texto-index {
        font-size: 1.5em;
        text-align: center;
    }

    .imagen-index {
        padding-bottom: 30px;
    }
}
/* ----------------------------------------------NOTICIAS MAIN DESKTOP---------------------------------------------- */
@media screen and (min-width: 768px) {
    #titulo-articulo {
        font-size: 3.5em;
    }

    #subtitulo-articulo {
        font-size: 3.1em;
        padding-top: 70px;
    }

    #texto-articulo {
        font-size: 1.6em;
    }

    #img-noticias {
        width: 35vw;
    }

    #boton-noticias {
        background-color: #D72323;
        font-family: 'Kanit', sans-serif;
        border: none;
        color: #EAEAEA;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .noticias-lol,
    .noticias-teams,
    .noticias-parches,
    .noticias-esports {
        grid-template-rows: 60px 420px;
    }

    .noticias-lol-riot,
    .noticias-teams-primate,
    .noticias-parches-131,
    .noticias-esports-valo {
        padding-top: 25px;
    }

}
/* ----------------------------------------------EQUIPOS MAIN DESKTOP---------------------------------------------- */



/* ----------------------------------------------PARTIDOS MAIN DESKTOP---------------------------------------------- */



/* ----------------------------------------------TIENDA MAIN DESKTOP---------------------------------------------- */



/* ----------------------------------------------FOOTER DESKTOP---------------------------------------------- */
@media screen and (min-width: 768px) {
    .inner-footer {
        margin: 0 auto;
        max-width: 1470px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 200px 100px;
        grid-column-gap: 140px;
        grid-row-gap: 20px;
        grid-template-areas: 
            "formulario sponsors"
            "redes      redes";
    }

    .footer-form {
        grid-area: formulario;
    }

    .patrocinadores {
        width: 35vw;
        grid-area: sponsors;
    }

    .patrocinadores img {
        width: 85px;
    }

    .redes-sociales {
        grid-area: redes;
    }

    .redes-logos img {
        width: 60px;
    }
}





