@use 'variables';
@use 'mixins' as *;

.equipos {
    background-image: url("../img/webimg/336786.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-inline: 40px;
    position: relative;

    h1 {
        color: variables.$mainWhite;
        font-family: variables.$fontAlfa;
        font-size: variables.$sizeSubtitulo;
        padding-top: 20px;
        text-shadow: variables.$sombraTitulo;
        text-align: center;

        @include desktop {
            font-size: 4em;
        }
    }

    .equipos-lol {
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 2px solid variables.$mainWhite;

        @include desktop {
            display: grid;
            gap: 30px;
            grid-template-columns: 350px 350px 350px;
            grid-template-rows: 250px 500px 500px;
            grid-template-areas: 
                "logo   logo    logo"
                "topl   jungla  midl"
                "adc    sup     coach";
        }

        .logo-lol {
            width: 60vw;
        
            @include desktop {
                grid-area: logo;
                width: 30vw;
            }
        }

        #top {
            @include desktop {
                margin-left: 55px;
                grid-area: topl;
            }
        }

        #jungla {
            @include desktop {
                margin-left: 55px;
                grid-area: jungla;
            }
        }

        #mid {
            @include desktop {
                margin-left: 55px;
                grid-area: midl;
            }
        }

        #adc {
            @include desktop {
                margin-left: 55px;
                grid-area: adc;
            }
        }

        #support {
            @include desktop {
                margin-left: 55px;
                grid-area: sup;
            }
        }

        #coach {
            @include desktop {
                margin-left: 55px;
                grid-area: coach;
            }
        }

        .players-lol {
            background-color: transparent;
            width: 200px;
            height: 400px;
            perspective: 1000px;
    
            @include desktop {
                width: 250px;
                height: 470px;
            }
    
            &:hover {
                .players-lol-inner {
                    transform: rotateY(180deg);
                }
            }
    
            .players-lol-inner {
                position: relative;
                width: 100%;
                height: 100%;
                text-align: center;
                transition: transform 0.8s;
                transform-style: preserve-3d;
            }
    
            .players-lol-inner-frente,
            .players-lol-inner-detras {
                box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                height: 100%;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                border: 1px solid variables.$mainRed;
                border-radius: 1em;
            }
    
            .players-lol-inner-frente {
                i {
                    position: absolute;
                    left: 5%;
                    top: 5%;
                    color: variables.$mainRed;
                }

                .posicion-player {
                    margin-top: 350px;
                    color: variables.$mainRed;
                    font-family: variables.$fontTeko;
                    font-size: 2.5em;
                    text-shadow: 4px 4px 4px variables.$mainBlack;

                    @include desktop {
                        margin-top: 400px;
                        font-size: 3.5em;
                    }
                }
            }
    
            #top-frente {
                background-image: url(../img/roster/camille.webp);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: right;
            }
    
            #jungla-frente {
                background-image: url(../img/roster/leesin.webp);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
    
            #mid-frente {
                background-image: url(../img/roster/azir.webp);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: right;
            }
    
            #adc-frente {
                background-image: url(../img/roster/ezreal.webp);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: right;
            }
    
            #support-frente {
                background-image: url(../img/roster/thresh.webp);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
    
            #coach-frente {
                background-image: url(../img/roster/coach.webp);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
    
            .players-lol-inner-detras {
                background-color: variables.$mainBlack;
                transform: rotateY(180deg);

                .nombre-player {
                    margin-top: 10px;
                    color: variables.$mainRed;
                    font-family: variables.$fontKanit;
                    font-size: 2.1em;
                    line-height: 35px;

                    @include desktop {
                        font-size: 2.7em;
                        line-height: 40px;
                        padding-bottom: 15px;
                    }
                }
            }
        }
    }

    .equipos-valo {
        @include flex-column-gap;

        img {
            padding-top: 20px;
            width: 40vw;

            @include desktop {
                width: 20vw;
            }
        }

        h2 {
            color: variables.$subWhite;
            font-family: variables.$fontKanit;
            font-size: variables.$sizeSubtitulo;
            padding-bottom: 10px;
            border-bottom: 2px solid variables.$mainWhite;
            text-align: center;

            @include desktop {
                font-size: 4em;
            }
        }
    }

    .equipos-csgo {
        @include flex-column-gap;

        img {
            width: 70vw;

            @include tablet {
                width: 65vw;
            }

            @include desktop {
                width: 40vw;
            }
        }

        h2 {
            color: variables.$subWhite;
            font-family: variables.$fontKanit;
            font-size: variables.$sizeSubtitulo;
            text-align: center;

            @include desktop {
                font-size: 4em;
            }
        }
    }
}