@use 'variables';
@use 'mixins' as *;

.noticias {
    background-image: url("../img/webimg/336786.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-inline: 40px;
    position: relative;

    h1 {
        color: variables.$mainWhite;
        padding-top: 20px;
        font-family: variables.$fontAlfa;
        font-size: variables.$sizeTitulo;
        text-shadow: variables.$sombraTitulo;
        text-align: center;

        @include desktop {
            font-size: 4em;
        }
    }

    h2 {
        color: variables.$subWhite;
        font-family: variables.$fontKanit;
        font-size: variables.$sizeSubtitulo;
        letter-spacing: .5px;
        padding: 5px;
        text-align: center;
        text-decoration: underline;

        @include desktop {
            font-size: 3em;
        }
    }

    .container-noticias {
        display: flex;
	    flex-wrap: wrap;
	    justify-content: center;
	    width: 100%;

        @include desktop {
            width: 50%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 100px 600px;
            justify-items: center;
            align-items: center;
            grid-template-areas: 
                "titulonews titulonews"
                "articulo1  articulo2";
        }

        h3 {
            color: variables.$mainWhite;
            font-family: variables.$fontBebas;
            font-size: variables.$sizeSubtitulo;
            text-decoration: underline;
            padding-top: 20px;

            @include desktop {
                grid-area: titulonews;
                font-size: 3em;
            }
        }

        article {
            width: 300px;
	        margin: 10px;

            &:hover {
                figcaption {
                    top: 50%;
                    transform: translateY(-50%);
                }

                img {
                    transform: translateY(-10px);
                }

                figure {
                    &::after {
                        top: 0;
                    }
                }

                p {
                    margin: 20px 0;
                }
            }

            @include desktop {
                .articulo1 {
                    grid-area: articulo1;
                }

                .articulo2 {
                    grid-area: articulo2;
                }
            }

            figure {
                position: relative;
                max-height: 400px;
                overflow: hidden;
                border-radius: 8px;
                margin-bottom: 50px;

                @include desktop {
                    max-height: 500px;
                }

                &::after {
                    position: absolute;
                    top: 0;
                    display: block;
                    content: '';
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 60%, rgba(255, 255 ,255 , 0) 100%);
                    transition: .3s;

                    @include desktop {
                        top: calc(100% - 140px);
                    }
                }

                img {
                    transition: .5s ease-in-out;
                }

                figcaption {
                    position: absolute;
		            top: 50%;
		            z-index: 1;
		            padding: 0 20px;
		            color: variables.$mainWhite;
		            transform: translateY(-50%);
		            text-align: center;
		            transition: .3s;

                    @include desktop {
                        top: calc(100% - 110px);
                        transform: unset;
                    }

                    h4 {
                        display: -webkit-box;
                        max-height: 85px;
                        overflow: hidden;
                        color: variables.$mainRed;
                        font-family: variables.$fontBree;
                        font-size: 1.5em;
                        line-height: 28px;
                        text-shadow: 0px 1px 5px variables.$mainBlack;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;

                        @include desktop {
                            font-family: variables.$fontArchivo;
                            font-size: 1.25em;
                        }
                    }

                    p {
                        display: -webkit-box;
                        max-height: 150px;
                        margin: 20px 0;
                        color: variables.$subWhite;
                        font-family: variables.$fontOswald;
                        font-size: 1em;
                        line-height: 30px;
                        transition: .5s ease-in-out;
                        -webkit-line-clamp: 5;
                        -webkit-box-orient: vertical;
        
                        @include desktop {
                            margin: 60px;
                            max-height: 300px;
                            font-size: 1.25em;
                        }
                    }

                    a {
                        background-color: variables.$mainRed;
                        font-family: variables.$fontKanit;
                        border-radius: 8px;
                        color: variables.$subWhite;
                        padding: 10px 20px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 20px;
                        margin: 4px 2px;
                        cursor: pointer;
                        transition: .3s;

                        @include desktop {
                            &:hover {
                                color: variables.$mainRed;
                                background-color: variables.$subWhite;
                            }
                        }
                    }
                }
            }
        }
    }
}