@use 'variables';
@use 'mixins' as *;

.partidos {
    background-image: url("../img/webimg/336786.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-inline: 40px;
    position: relative;

    h1 {
        color: variables.$mainWhite;
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: variables.$fontAlfa;
        font-size: 2.25em;
        text-shadow: variables.$sombraTitulo;
        text-align: center;

        @include tablet {
            font-size: 4em;
        }

        @include desktop {
            font-size: 6em;
        }
    }

    .partidos-titulo-comp {
        color: variables.$subWhite;
        font-family: variables.$fontBebas;
        text-align: center;
        font-size: 2.2em;

        @include tablet {
            font-size: 3.5em;
        }

        @include desktop {
            font-size: 5em;
        }
    }

    .partidos-contenedor {

        h4 {
            color: variables.$subWhite;
            font-family: variables.$fontRubik;
            padding-top: 20px;

            @include tablet {
                padding-top: 40px;
                font-size: 2.5em;
            }

            @include desktop {
                padding-top: 40px;
                font-size: variables.$sizeTitulo;
            }
        }

        .partidos-match {
            border-radius: 10px;
            background: linear-gradient(to right, #757F9A, #D7DDE8);

            .partidos-match-equipo {

                h5 {
                    color: variables.$mainBlack;
                    font-size: 1em;
                    font-family: variables.$fontTeko;

                    @include tablet {
                        font-size: variables.$sizeSubtitulo;
                    }

                    @include desktop {
                        font-size: 2.5em;
                    }
                }

            }

            .partidos-match-resultado {
                color: variables.$mainBlack;
                font-family: variables.$fontOswald;

                @include tablet {
                    font-size: variables.$sizeSubtitulo;
                }

                @include desktop {
                    font-size: 3em;
                }

                .partidos-match-resultado-numero {
                    color: variables.$mainRed;
                    font-family: variables.$fontBree;
                    font-size: 1.5em;
                }
            }
        }
    }

    .partidos-sintoniza {
        text-align: center;
        color: variables.$subWhite;
        font-family: variables.$fontBebas;

        @include tablet {
            padding-bottom: 60px;
        }

        @include desktop {
            padding-bottom: 100px;
        }

        h2 {
            font-size: variables.$sizeSubtitulo;

            @include tablet {
                font-size: 4em;
            }

            @include desktop {
                font-size: 4em;
            }
        }

        ul {
            padding: 0 1em;

            li {
                font-size: 1.8em;
                list-style-type: none;

                @include tablet {
                    font-size: 3.5em;
                }

                @include desktop {
                    font-size: 4em;
                }

                a {
                    color: variables.$subWhite;
                    text-decoration: none;
                }
            }

            .partidos-twitch {

                i {
                    color: variables.$mainTwitch;
                }
            }

            .partidos-flow {

                i {
                    color: variables.$mainFlow;
                }
            }

            .partidos-twitch,
            .partidos-flow {
                @include desktop {
                    transition: .5s, color .10s;
                    -webkit-transition: .5s, color .10s;
                    -moz-transition: .5s, color .10s;

                    &:hover {
                        transform: scale3d(1.5, 1.5, 0.3);
                        -webkit-transform: scale3d(1.5, 1.5, 0.3);
                        -moz-transform: scale3d(1.5, 1.5, 0.3);
                    }
                }
            }
        }
    }

    .partidos-lmf {
        text-align: center;
        color: variables.$subWhite;
        font-family: variables.$fontOswald;

        h3 {
            font-size: variables.$sizeSubtitulo;

            @include tablet {
                padding-top: 50px;
                font-size: 4em;
            }

            @include desktop {
                padding-top: 50px;
                font-size: 4em;
            }
        }

        a {

            img {
                width: 40%;

                @include tablet {
                    width: 35%;
                }

                @include desktop {
                    width: 10%;
                    height: 10%;
                    transition: .5s, color .10s;
                    -webkit-transition: .5s, color .10s;
                    -moz-transition: .5s, color .10s;

                    &:hover {
                        transform: scale3d(1.5, 1.5, 0.3);
                        -webkit-transform: scale3d(1.5, 1.5, 0.3);
                        -moz-transform: scale3d(1.5, 1.5, 0.3);
                    }
                }
            }
        }
    }
}