@use 'variables';
@use 'mixins' as *;

.tienda {
    padding: 30px 0 54px;

    .tienda-titulos {

        h2 {
            font-family: variables.$fontTeko;
            font-style: italic;
            font-size: 2.3em;
            color: variables.$mainRed;
            text-shadow: 1.5px 1.5px 1.5px variables.$mainBlack;

            @include tablet {
                font-size: 4em;
            }

            @include desktop {
                font-size: 5em;
            }
        }

        h3 {
            font-family: variables.$fontOswald;
            font-size: variables.$sizeSubtitulo;
            color: variables.$mainBlack;

            @include tablet {
                font-size: 3.5em;
            }

            @include desktop {
                font-size: 4em;
            }
        }
    }

    .contenedor-jersey23,
    .contenedor-jersey22 {
        padding-bottom: 20px;
        margin-bottom: 26px;
    }

    .item-tienda {

        .item-tienda-parte1 {
            position: relative;
            height: 290px;
            max-height: 290px;
            margin-bottom: 20px;
            overflow: hidden;

            &::before {
                position: absolute;
	            content: "";
	            top: 0;
	            left: 0;
	            width: 100%;
	            height: 100%;
	            z-index: -1;
	            transition: all 0.3s;
            }

            ul {
                position: absolute;
                bottom: -41px;
                left: 20px;
                margin: 0;
                padding: 0;
                list-style: none;
                opacity: 0;
                transition: bottom 0.5s, opacity 0.5s;

                li {
                    display: inline-block;
                    margin-right: 4px;

                    a {
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        background-color: transparent;
                        color: variables.$mainGray;
                        text-align: center;
                        box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
                        transition: color 0.2s;

                        &:hover {
                            color: variables.$mainRed;
                        }
                    }
                }
            }
        }

        .item-tienda-parte2 {

            h3 {
                text-align: center;
                color: variables.$mainRed;
                font-family: variables.$fontBebas;
                font-size: variables.$sizeSubtitulo;

                @include tablet {
                    font-size: variables.$sizeTitulo;
                }
            }

            h4 {
                text-align: center;
                font-family: variables.$fontBree;
                font-size: variables.$sizeSubtitulo;

                @include tablet {
                    font-size: variables.$sizeSubtitulo;
                }
            }
        }

        &:hover {

            .item-tienda-parte1::before {
                transform: scale(1.2,1.2) rotate(5deg);
            }

            .item-tienda-parte1 {

                ul {
                    bottom: 30px;
                    opacity: 1;
                }
            }
        }

        @include desktop {
            .tienda-card {

                h5 {
                    color: variables.$mainGray;
                    font-family: variables.$fontTeko;
                    font-size: variables.$sizeSubtitulo;
                }

                .card-text {

                    ul {
                        color: variables.$mainGray;
                        font-family: variables.$fontOswald;
                        font-size: 1.25em;

                        li {
                            list-style-type: disc;
                        }
                    }
                }
            }
        }
    }

    #item-tienda-producto1 {

        .item-tienda-parte1::before {
            background: url("../img/shop/Jersey23.png") no-repeat center;
            background-size: contain;
	        transition: all 0.3s;
        }
    }

    #item-tienda-producto2 {

        .item-tienda-parte1::before {
            background: url("../img/shop/Jersey22.png") no-repeat center;
            background-size: contain;
        }
    }

    #item-tienda-producto3 {

        .item-tienda-parte1::before {
            background: url("../img/shop/Hoodie.png") no-repeat center;
            background-size: contain;
        }
    }

    #item-tienda-producto1,
    #item-tienda-producto2,
    #item-tienda-producto3 {
        border-bottom: 1px solid variables.$mainGray;
        padding-bottom: 20px;
        margin-bottom: 26px;
    }

    #boton-acordeon {
        background-color: variables.$mainGray;
        color: variables.$subWhite;
        font-family: variables.$fontTeko;
        font-size: 1.2em;
    }

    .texto-acordeon {
        font-family: variables.$fontOswald;
        font-size: 1.5em;

        ul {

            li {

                ul {
                    list-style-type: disc;
                }
            }
        }
    }

    .texto-talle {
        background-color: variables.$mainGray;
        color: variables.$subWhite;
        font-family: variables.$fontTeko;
        font-size: 1.8em;
    }

    .texto-drop {
        background-color: variables.$mainWhite;
        color: variables.$mainGray;
        font-family: variables.$fontTeko;
        font-size: 1.8em;
    }

    .boton-compra {
        background-color: variables.$mainRed;
        font-family: variables.$fontKanit;
        border: none;
        color: variables.$subWhite;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;

        @include desktop {
            font-size: 30px;
            transition: .5s, color .10s;
            -webkit-transition: .5s, color .10s;
            -moz-transition: .5s, color .10s;

            &:hover {
                box-shadow: 0 8px 8px 0 variables.$mainGray,0 8px 8px 0 variables.$mainBlack;
                transform: translate(0px,5px);
                -webkit-transform: translate(0px,5px);
                -moz-transform:translate(0px,5px);
            }
        }
    }
}

.tienda-faq {
    position: relative;

    h4 {
        color: variables.$mainGray;
        font-family: variables.$fontBebas;
        font-size: 1.8em;
        text-decoration: underline;

        @include tablet {
            font-size: 2.5em;
        }

        @include desktop {
            font-size: 3em;
        }
    }

    .tienda-subtitulos {
        color: variables.$mainGray;
        font-family: variables.$fontOswald;
        font-size: 1em;

        @include tablet {
            padding: 0 2em;
            font-size: 1.75em;
        }

        @include desktop {
            padding: 0 2em;
            font-size: variables.$sizeSubtitulo;
        }

        li {
            list-style-type: disc;
        }
    }
}