// FUENTES

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Black&family=Bebas+Neue&family=Bree+Serif&family=Kanit:ital@1&family=Oswald&family=Rubik&family=Teko:wght@500&display=swap');

$fontBebas: 'Bebas Neue', cursive;

$fontArchivo: 'Archivo Black', sans-serif;

$fontOswald: 'Oswald', sans-serif;

$fontKanit: 'Kanit', sans-serif;

$fontAlfa: 'Alfa Slab One', cursive;

$fontRubik: 'Rubik', sans-serif;

$fontTeko: 'Teko', sans-serif;

$fontBree: 'Bree Serif', serif;

// PALETA COLORES

$mainRed: #D72323;

$mainBlack: #02010E;

$mainWhite: #EEEEEE;

$subWhite: #EAEAEA;

$mainGray: #303841;

$mainBlue: #2323D7;

$mainCyan: #23D7D7;

$mainTwitch: #9146FF;

$mainFlow: #13C08D;

// VARIABLES VARIAS

$sizeTitulo: 3em;

$sizeSubtitulo: 2em;

$sombraTitulo: 5px 5px 5px #303841;